/* Navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #333; 
    color: #fff; 
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 10%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 24px; 
    font-weight: bold;
  }
  
  .nav-links li {
    margin-right: 60px; 
  }
  
  .nav-links a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 18px; 
  }
  
  .nav-links a:hover {
    text-decoration: underline; 
  }


/*body*/
.body{
    margin-bottom: 0px;
}

.main-content{
    background-color: #e1e1e1;
}


.body-content{
    color: #333;
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;

}

.text {
  margin-bottom: 90px;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre{
width: 35%;
margin-left: 40%;
margin-top: 20px;
margin-bottom: 50px;
font-size: 60px;
font-weight: bold;

}

.titre-t4{
    width: 35%;
    margin-left: 38%;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: bold;
    margin-right: 60%;
}

.para{
    font-size: 24px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    margin: 50px auto;

}


.img1{
    height: 500px;
    width: 300px;
    border-radius: 100px;
    margin-left: 42%;
    margin-bottom: 10px;
}

.img2{
    height: 350px;
    width: 500px;
    border-radius: 100px;
    margin-left: 38%;
    margin-bottom: 40px;

}

.img3{
    height: 350px;
    width: 500px;
    border-radius: 100px;
    margin-left: 37%;
    margin-bottom: 40px;
}

.img4{
    height: 350px;
    width: 500px;
    border-radius: 100px;
    margin-left: 38%;
    margin-bottom: 40px;
}

.reseaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e1e1e1;
    margin-left: 30%;
    margin-right: 30%;
    padding: 150px;
}


/*Responsive*/

@media (max-width: 1095px) {
    .container {
        padding-left: 5%;
    }

    .nav-links {
        font-size: 25px;
    }

    .nav-links li {
        margin-right: 42px;
    }

    .titre {
        width: 600%;
        font-size: 35px;
    }

    .titre-t4{
        width: 38%;
        margin-left: 38%;
        font-size: 35px;
        margin-right: 60%;
    }

    .para {
        padding-left: 22px;
        padding-right: 22px;
        font-size: 16px;
    }

    .img1{
        margin-left: 36%;
        height: 500px;
        width: 300px;
    }
    .img2{
        margin-left: 30%;
    
    }
    
    .img3{
        margin-left: 28%;   
    }
    
    .img4{
        margin-left: 28%;
        
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 5%;
    }

    .nav-links {
        font-size: 20px;
    }

    .nav-links li {
        margin-right: 40px;
    }

    .titre {
        width: 50%;
        margin-left: 36%;
        font-size: 28px;
    }

    .para {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }

    .img1{
        margin-left: 28%;

    }
    .img2{
        margin-left: 18%;
    
    }
    
    .img3{
        margin-left: 18%;   
    }
    
    .img4{
        margin-left: 18%;
        
    }
}

@media (max-width: 675px) {
    .container {
        padding-left: 2%;
    }

    .nav-links {
        font-size: 18px;
    }

    .nav-links li {
        margin-right: 30px;
    }

    .titre {
        width: 70%;
        margin-left: 34%;
        font-size: 24px;
    }
    
    .titre-t4{
        font-size: 24px;

    }

    .para {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }

    .img1{
        margin-left: 26%;
        height: 275px;
        width: 200px;
    }
    .img2{
        margin-left: 15%;
        height: 240px;
        width: 360px;
    
    }
    
    .img3{
        margin-left: 16%;
        height: 240px;
        width: 360px;   
    }
    
    .img4{
        margin-left: 10%;
        height: 240px;
        width: 360px;
        
    }

    
}
