* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.presentation {
  display: grid;
  margin-left: 50vw;
  margin-top: 2vw;
}

.passions {
  display: grid;

}